%table.table.table-bordered
  %tr
    -%w[名前 状態 処理日時 処理時間 ログ ファイル 出力サイズ 操作].each do |column_name|
      %th=column_name
  -logs.each do |log|
    -next if log.video.nil?
    %tr
      %td=link_to log.video.output_name, url(:videos, :show, :id=>log.video_id)
      %td=log.status
      %td=log.start_at.to_s(:db)
      %td=log.process_time
      %td=truncate log.body
      %td=number_to_human_size log.video.filesize
      %td=log.output_size
      %td
        =button_link('', destroy_ts_job_path(log.video.id, job: {job_type: :destroy_ts, arguments: {video_id: log.video.id}.to_yaml}), :glyph=>'trash', :method=>:post, :confirm=>true, :disabled=>!log.video.exists_ts?) if log.video.exists_ts?
