%ul.nav.nav-sidebar
  %li=link_to '動画一覧', controller: :videos, action: :index
  %li=link_to 'ジョブキュー', controller: :jobs, action: :index
  %li=link_to 'エンコードログ', controller: :logs, action: :encode
  %li=link_to 'ジョブログ', controller: :logs, action: :job
