%table.table.table-bordered
  %thead
    %tr
      -%w[priority job_type video arguments in_running scheduled_on control].each do |column_name|
        %th=column_name
  %tbody.sortable
    -jobs.each do |job|
      %tr.job_item{data: {:'job-id' => job.id}}
        %td=job.priority
        %td=job.job_type
        %td=link_to videos[job.video_id].output_name, controller: :videos, action: :show, :id=>videos[job.video_id] unless job.video_id.blank?
        %td=truncate job.arguments
        %td=job.in_running
        %td=job.scheduled_on
        %td
          =button_link('', url_for(controller: :jobs, action: :edit, id: job.id), :glyph=>'edit')
          =button_link('', url_for(controller: :jobs, action: :destroy, id: job.id), :glyph=>'remove-sign', :method=>:delete, :confirm=>true)

:coffeescript
  $ ->
    $('.sortable').sortable(
      update: ->
        job_queue = $('.job_item').map ->
          return $(this).data('job-id')
        $.ajax(
          method: 'put',
          url: '/jobs/update_queue',
          data: {order: job_queue.toArray()}
        )
    )
