%h1.page-header=@video.output_name


.container-fluid
  .row-fluid.pull-right
    .btn-toolbar{role: :toolbar}
      .btn-group
        =button_link('見る', url_for(controller: :videos, action: :play, id: @video.id), :glyph=>'film')
        =button_link('編集', url_for(controller: :videos, action: :edit, id: @video.id), :glyph=>'edit')
        =button_link('削除', url_for(controller: :videos, action: :destroy, id: @video.id), :glyph=>'remove-sign', :method=>:delete, :confirm=>true)

%h2.sub-header Logs.
=render partial: 'parts/encode_log_list', locals: {:logs=>@logs}

%h2.sub-header Video Information
=render partial: 'parts/video_infomation', locals: {video: @video}
