%table.table-bordered.table-striped
  %tr
    %th id
    %td=log.id
  %tr
    %th job_type
    %td=log.job_type
  %tr
    %th video
    %td=link_to log.video.output_name, controller: :videos, action: :show, id: log.video.id unless log.video.blank?
  %tr
    %th body
    %td=simple_format log.body
